@import url('https://fonts.cdnfonts.com/css/whitney-2');

body {
    font-family: whitney, Arial;
    background-color: #2b2d31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

div.box {
    padding: 20px 50px;
    border-radius: 20px;
    background-color: #1e1f22;
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 300px;
    width: 80%;
}

div.prevBox {
    border-radius: 15px;
    background-color: #313338;
    padding: 5px;
    width: 100%;
    position: relative;
}

div.inputBox {
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
}

div.inputBox > label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.inputBox > label p {
    color: #fff;
    font-size: 18px;
    margin: 0px;
}

div.inputBox > label input {
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;
    font-family: whitney, Arial;
}

div.inputBox > label select {
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;
    font-family: whitney, Arial;
}

div.inputBox > label textarea{
    height: 22.5px;
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
    text-align: center;
    font-size: 15px;
    font-family: whitney, Arial;
    padding-top: 7.5px;
}

div.preview > div.text {
    position: absolute;
    top: 25px;
    left: 75px;
}

div.preview > div.text p {
    color: #f4f4f4;
    font-size: 18px;
    margin: 0px;
    position: absolute;
    top: 70px;
    left: 27.5px;
    width: calc(40vw - 120px);
}

div.userprofile {
    position: absolute;
    display: flex;
    flex-direction: row;
}

div.userprofile div.name {
    position: absolute;
    left: 1px;
    font-weight: bold;
    top: 60px;
    left: 115px;
}

div.name > p {
    position: absolute;
    color: #F4F4F4;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    left: -12.5px;
}

div.userprofile div.foto {
    top: 0px;
    position: absolute;
    top: 60px;
    left: 30px;
}

div.foto > img {
    top: 40px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

div.preview > div.text > p > span.timestamp {
    padding: 2px;
    background-color: #1e2124;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

div.prevBox > div.preview{
    position: absolute;
    left: 0px;
    top: 25px;
    transform: scale(1.3);
}